:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-t-color: #ffffff;
  --seconadary-bg-color: #2f303a;
  --logo-color-text: #000000;
  --alternative-bg-color: #f5f4fa;
}

/* 
   акцент цвет #2196F3
   фон в секции команда и некоторого текста #E5E5E5
   вторичный цвет фона ( футера и секции героев) #2F303A;
   цвет текста в лого: #000000;
   цвет текста заголовков #212121
   основной масив текста #757575;
   основной фон bg и текст контраста #FFFFFF;
   prymary font-family roboto 400,500,700,900
   logo ff Raleway 700 
   кнопка в секции герои при ховере #188CE8
*/

/* ======================================================================================================================================================== */
/*  глобальные стили боди */

body {
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--primary-bg-t-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.link {
  display: block;
  color: currentColor;
  margin: 0;
  text-decoration: none;
}

.text,
.title {
  margin-top: 0;
  margin-bottom: 0;
}

/* утилита для картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .visually-hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*====================================================================================================================================================== */

/* шапка сайта */

.hat {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* логотип */

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--logo-color-text);
  margin-right: 93px;
}

.logo:hover,
.logo:focus {
  color: var(--primary-color);
}

.logo > span {
  color: var(--accent-color);
}

/* site-nav */

.site-nav .list {
  display: flex;
}

.site-nav .link {
  display: block;
  color: var(--secondary-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 31px;
}

.list .list-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .selected-link {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* header contacts */

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  /* color: var(--primary-color); */
}

.contact-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: auto;
  fill: currentColor;
  margin-right: 10px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* .contact-item:hover .icon,
.contact-item:focus .icon {
   color: var(--accent-color);
} */

.contacts .items:not(:last-child) {
  margin-right: 50px;
}

/* ------------------------------------------------------------------------ */

/* sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
}

/* фон секций герои и футер */

.page-footer {
  background-color: var(--seconadary-bg-color);
}

/* герои  */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-color: var(--seconadary-bg-color);
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
}

.hero-title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-t-color);
}

/* заголовок имеет дефолтные стили браузера, по этмоу нужно переопределить явно */

.features-list {
  display: flex;
  width: 1170px;
}

.features-list .list-item {
  width: calc((100% - 90px) / 4);
}

.features-list .list-item:not(:last-child) {
  margin-right: 30px;
}

.features-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
}
.canvas {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.features-list .text {
  line-height: 1.71;
}

/* преимущества */

.section-advance {
  padding-bottom: 47px;
}

/* чем мы занимаемся  */

.section-occupation {
  padding-top: 47px;
}

.occupation-list {
  display: flex;
}

.occupation-list .item:not(:last-child) {
  margin-right: 30px;
}

/* наша команда */

.team-list {
  display: flex;
  text-align: center;
}

.team-descr {
  padding: 30px 10px;
}

.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: var(--alternative-bg-color);
}

.list .team-item {
  background-color: var(--primary-bg-t-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* socialmedia */

.socialmedia-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.socialmedia-item {
  border-radius: 50%;
}

.list .socialmedia-item:not(:last-child) {
  margin-right: 10px;
}

.socialmedia-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
}

.socialmedia-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.socialmedia-link:hover,
.socialmedia-link:focus {
  color: var(--primary-bg-t-color);
  background-color: #188ce8;
}

.list .socialmedia-item:not(:last-child) {
  margin-right: 10px;
}

.section .team-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}
.section .team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

/* ============================================================================================================================================================ */

/* client */

.client-list {
  display: flex;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

/* футер */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.address-container {
  margin-right: 70px;
}

.page-footer .logo {
  margin-bottom: 20px;
  margin-right: 0;
  display: block;
}

.page-footer .contact-item {
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer .alt {
  color: var(--primary-bg-t-color);
  font-style: normal;
}

.contacts-list > .item:not(:last-child) {
  display: block;
  margin-bottom: 10px;
}

.page-footer .contact-item:hover,
.page-footer .contact-item:focus {
  color: var(--accent-color);
}

.logo.alt:hover,
.logo.alt:focus {
  color: var(--accent-color);
}

.logo.alt > span:hover,
.logo.alt > span:focus {
  color: var(--primary-color);
}

/* section with socialmedia link */

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-t-color);
  margin-bottom: 20px;
}

.page-footer .socialmedia-item {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: var(--primary-bg-t-color);
}

.socialmedia-item:hover,
.socialmedia-item:focus {
  background-color: #188ce8;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* кнопка  "героев"*/

.button {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-bg-t-color);
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.button:hover,
.button:focus {
  color: var(--primary-bg-t-color);
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ====================================================================================================================================================================================================================================== */

/* портофолио */

.portfolio-title {
  margin: 0px;
}

/* меню кнопок */

.menu-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-list .item:not(:last-child) {
  margin-right: 8px;
}

/* примеры робот */

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  width: calc((100% - 60px) / 3);
}

.card:hover,
.card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.work-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.work-descr {
  padding: 20px 23px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card .title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.card .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

/* .card .description {
   font-size: 18px;
   line-height: 1.56;
   letter-spacing: 0.03em;
   color: var(--primary-bg-t-color);
   background-color: rgba(33, 150, 243, 0.9);
} */

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* кнопки радио в портфолио*/

.btm {
  padding: 6px 22px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-color);
  background-color: var(--alternative-bg-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btm:hover,
.btm:focus {
  color: var(--primary-bg-t-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
